@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: IntroBlack;
    src: url('Intro-Black-Caps.ttf');
}


/*---------------html----------------------*/

body {
    height: 750px;
    width: 1024px;
    font-family: 'IntroBlack';
}

body#main-page {
    background-image: url('../images/main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body#searching {
    background-image: url('../images/searching.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body#results {
    background-image: url('../images/results.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer > a:link {
    text-decoration: none;
    color: #00778f;
}

footer > a:hover {
    color: #00778f;
    text-decoration: underline;
}

footer > a:visited {
    color: #00778f;
}

form {
    margin-top: 10px;
    color: #0f5e70;
}


/*-------------------tags------------------*/

ol,
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

nav {
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

nav > a:visited {
    color: white;
}

nav > a:hover {
    color: #e95d5c;
}

p {
    color: #0f5e70;
    padding-top: 150px;
    text-align: center;
}

h6 {
    font-size: 0pt;
    visibility: hidden;
}


/*-------------------ids-------------------*/

#main-sec {
    text-align: center;
    width: 600px;
    margin-left: 230px;
    margin-top: 220px;
    font-size: 12pt;
    line-height: 22pt;
    color: white;
}

#main-sec > a {
    margin-top: 30px;
    padding: 15px 30px 15px 30px;
    color: #e95d5c;
    display: inline-block;
    border: 2px solid #e95d5c;
}

#main-sec > a:visited {
    color: #e95d5c;
}

#main-sec > a:hover {
    border: 2px solid white;
    color: white;
}

#social-media > li {
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
    color: white;
}

#social-media > li > a:visited {
    color: white;
}

#social-media > li > a:hover {
    color: #e95d5c;
}


/*-----------------classes-----------------*/

* {
    box-sizing: border-box;
}

.one-whole,
.one-fourth,
.one-third,
.one-half,
.two-thirds,
.three-fourths {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.one-whole {
    width: 100%;
}

.one-fourth {
    width: 25%;
}

.one-third {
    width: 33%;
}

.one-half {
    width: 50%;
}

.two-thirds {
    width: 66%;
}

.three-fourths {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.container {
    width: 955px;
    margin: auto;
}

.button {
    padding: 15px 30px 15px 30px;
    display: inline-block;
    color: #0f5e70;
    border: 2px solid #0f5e70;
}

.navigating {
    text-align: center;
}

.navigating > a:visited {
    color: #0f5e70;
}

.navigating > a:hover {
    color: #6bc2db;
    border: 2px solid #6bc2db;
}

.navigating-2 {
    text-align: center;
    color: #39395a;
    margin-top: 20px;
}

.navigating-2 > a:visited {
    color: #39395a;
}

.navigating-2 > a:hover {
    color: white;
    border: 2px solid white;
}

h4 {
    text-align: center;
    padding: 15px 30px 15px 30px;
    display: inline-block;
    color: white;
    border: 2px solid white;
}

.category {
    padding: 20px;
}

.apartments {
    color: #39395a;
    padding-top: 150px;
    text-align: center;
}

.apartments > li:hover {
    color: #f29cbc;
}

.navig {
    text-align: center;
}

.navig > a {
    margin-top: 18px;
    margin-right: 20px;
    color: #f27441;
    border: 1px solid #f27441;
}